{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block styles %}

    {% endblock %}
    <title>Title</title>
</head>
<body>
<nav class="main_nav_bar">
    <ul class="main_menu">
        {% if request.user.is_authenticated %}
        <li class="menu_item"><a href="{% url 'logout' %}">logout</a></li>
        <li class="menu_item"><a href="{% url 'profile' %}">profile</a></li>
        {% else %}
        <li class="menu_item"><a href="{% url 'register' %}">register</a></li>
        <li class="menu_item"><a href="{% url 'login' %}">login</a></li>


        {% endif %}
        <li class="menu_item"><a href="{% url 'apartments_list' %}">Home</a></li>

    </ul>
</nav>
{% block main %}


{% endblock %}
</body>
</html>