.palte {
    color: #393646;
    color: #4F4557;
    color: #6D5D6E;
    color: #F4EEE0;
}

html, body {
    margin: 0;
    padding: 0;   
}

body {
    background-color: #393646;
    
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4F4557;

    border-radius: 10px;

}

.title   {
    color: #F4EEE0;
}
